Exide-Reportbuilderapp/flows/user-data/.nr-flows.json.backup
[{"id":"bfe20b56.39b538","type":"tab","label":"Initialization","disabled":false,"info":""},{"id":"e3e44500.48c438","type":"tab","label":"LoginDetails","disabled":false,"info":""},{"id":"aad2ce37.761bf","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"demonking","tz":""},{"id":"51702009.d88fe","type":"http in","z":"e3e44500.48c438","name":"getlogin","url":"/getlogindetails","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["16320352.c6ff9d"]]},{"id":"360e6a8e.ce49b6","type":"http response","z":"e3e44500.48c438","name":"","statusCode":"","headers":{},"x":670,"y":120,"wires":[]},{"id":"8b4c10a9.9b8f2","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":220,"wires":[]},{"id":"5ed1f207.f0eb9c","type":"mysql","z":"bfe20b56.39b538","mydb":"aad2ce37.761bf","name":"apiurl","x":420,"y":220,"wires":[["8b4c10a9.9b8f2"]]},{"id":"aaaeea6c.3fd678","type":"inject","z":"bfe20b56.39b538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":100,"wires":[["73519b0.40d6164"]]},{"id":"a556512.62660b","type":"mysql","z":"e3e44500.48c438","mydb":"aad2ce37.761bf","name":"apiurl","x":530,"y":120,"wires":[["360e6a8e.ce49b6","3b78d49c.6ba81c"]]},{"id":"73519b0.40d6164","type":"function","z":"bfe20b56.39b538","name":"getlogin(dataname,password)","func":"{\n    username = dataname;\n    password = password;\n    msg.topic = \" SELECT * FROM users WHERE name =\" + this.username + \"&& password =\" + this.password;\n    return msg;\n}","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["5ed1f207.f0eb9c","fe312d1b.62aa6"]]},{"id":"fe312d1b.62aa6","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":120,"wires":[]},{"id":"16320352.c6ff9d","type":"function","z":"e3e44500.48c438","name":"getlogin","func":"\n    username = msg.payload.name;\n    password = msg.payload.pass;\n    msg.topic = \" SELECT * FROM users WHERE name =\" + this.username + \"&& password =\" + this.password;\n    return msg;\n","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["a556512.62660b"]]},{"id":"3b78d49c.6ba81c","type":"debug","z":"e3e44500.48c438","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":280,"wires":[]}]