flows/user-data/lib/flows/basic.json
[{"id":"9292abdc.3e1838","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":160,"wires":[]},{"id":"e51e5dfc.0f6b2","type":"mysql","z":"bfe20b56.39b538","mydb":"aad2ce37.761bf","name":"apiurl","x":430,"y":220,"wires":[["9292abdc.3e1838"]]},{"id":"e4a8af5a.e2d0d","type":"function","z":"bfe20b56.39b538","name":"getlogin","func":"msg.topic = \"SELECT * FROM sampledata \";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["e51e5dfc.0f6b2"]]},{"id":"677fd93a.fde188","type":"inject","z":"bfe20b56.39b538","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["e4a8af5a.e2d0d"]]},{"id":"aad2ce37.761bf","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"demonking","tz":""}]