flows/user-data/lib/flows/loginflow.json
[{"id":"35f83cba.067c84","type":"MSSQL","z":"3522c7c0.7e0ba8","mssqlCN":"efcae6a3.3c0e08","name":"exidedb","query":"","outField":"payload","x":440,"y":300,"wires":[["8377acd0.fcbc3"]]},{"id":"24a0f7be.1a2dc8","type":"http in","z":"3522c7c0.7e0ba8","name":"login","url":"/getlogin","method":"get","upload":false,"swaggerDoc":"","x":190,"y":60,"wires":[["12891487.ceecab","644df052.92445"]]},{"id":"8377acd0.fcbc3","type":"http response","z":"3522c7c0.7e0ba8","name":"","statusCode":"","headers":{},"x":610,"y":300,"wires":[]},{"id":"12891487.ceecab","type":"function","z":"3522c7c0.7e0ba8","name":"getlogin","func":"\n    username = msg.payload.name;\n    password = msg.payload.pass;\n    //header = msg.req.headers.token;\n    msg.payload = \" SELECT * FROM users WHERE name =\" + this.username + \"AND password =\" + this.password;\n    return msg;\n","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["35f83cba.067c84","1bee29d6.2e3436"]]},{"id":"644df052.92445","type":"debug","z":"3522c7c0.7e0ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":100,"wires":[]},{"id":"1bee29d6.2e3436","type":"debug","z":"3522c7c0.7e0ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":200,"wires":[]},{"id":"efcae6a3.3c0e08","type":"MSSQL-CN","z":"","name":"sqldb","server":"DESKTOP-UG5A60L","encyption":false,"database":"exideexample"}]