flows/user-data/.nr-flows.json.backup
[{"id":"bfe20b56.39b538","type":"tab","label":"Initialization","disabled":false,"info":""},{"id":"3fd93b3.38f73c4","type":"subflow","name":"Subflow 1","info":"","category":"","in":[],"out":[],"env":[]},{"id":"3bc7428f.2acece","type":"MSSQL-CN","z":"","name":"","server":"10.26.10.83\\INST02","encyption":true,"database":"NReportBuilder"},{"id":"cc5fd8ed.d55e18","type":"MSSQL","z":"bfe20b56.39b538","mssqlCN":"3bc7428f.2acece","name":"","query":"select * from users","outField":"payload","x":350,"y":120,"wires":[["ad4dae0e.7a991","35901e14.e997a2"]]},{"id":"daf43343.0fd5f","type":"inject","z":"bfe20b56.39b538","name":"","topic":"","payload":"\"FOO\"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["cc5fd8ed.d55e18"]]},{"id":"ad4dae0e.7a991","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":120,"wires":[]},{"id":"67b3700a.44255","type":"excel","z":"bfe20b56.39b538","name":"","file":"","x":520,"y":260,"wires":[["86f92ded.cc7dc"]]},{"id":"35901e14.e997a2","type":"function","z":"bfe20b56.39b538","name":"","func":"msg.filepath = \"C:/Users/C101710/exceltesting/output.xlsx\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["67b3700a.44255"]]},{"id":"86f92ded.cc7dc","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":360,"wires":[]}]