flows/user-data/nr-flows.json
[{"id":"bfe20b56.39b538","type":"tab","label":"Initialization","disabled":false,"info":""},{"id":"3fd93b3.38f73c4","type":"subflow","name":"Subflow 1","info":"","category":"","in":[],"out":[],"env":[]},{"id":"daf43343.0fd5f","type":"inject","z":"bfe20b56.39b538","name":"","topic":"","payload":"\"FOO\"","payloadType":"env","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[[]]},{"id":"ad4dae0e.7a991","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":100,"wires":[]},{"id":"67b3700a.44255","type":"excel","z":"bfe20b56.39b538","name":"","file":"","x":630,"y":240,"wires":[["86f92ded.cc7dc"]]},{"id":"35901e14.e997a2","type":"function","z":"bfe20b56.39b538","name":"","func":"msg.filepath = \"C:/Users/C101710/exceltesting/output.xlsx\"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["67b3700a.44255"]]},{"id":"86f92ded.cc7dc","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":360,"wires":[]},{"id":"487abaa5.443ee4","type":"process-env","z":"bfe20b56.39b538","name":"","topic":"","key":"PATH","x":240,"y":280,"wires":[["25150066.59a1a"]]},{"id":"ec269b65.18abc8","type":"inject","z":"bfe20b56.39b538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["487abaa5.443ee4"]]},{"id":"25150066.59a1a","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":340,"wires":[]}]