flows/user-data/nr-flows.json
[{"id":"bfe20b56.39b538","type":"tab","label":"Initialization","disabled":false,"info":""},{"id":"446b58e3.8a2298","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6f00086.911c9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3fd93b3.38f73c4","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a556512.62660b"}]}],"out":[{"x":320,"y":80,"wires":[{"id":"a556512.62660b","port":0}]}],"env":[]},{"id":"aad2ce37.761bf","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"demonking","tz":""},{"id":"4a790eb3.8d0bc","type":"MSSQL-CN","z":"","name":"MSSQL_NRB","server":"10.26.10.83\\INST02","encyption":false,"database":"NReportBuilder"},{"id":"a556512.62660b","type":"mysql","z":"3fd93b3.38f73c4","mydb":"aad2ce37.761bf","name":"apiurl","x":190,"y":80,"wires":[[]]},{"id":"da432aba.5cfec8","type":"MSSQL","z":"bfe20b56.39b538","mssqlCN":"4a790eb3.8d0bc","name":"exidedb","query":"","outField":"payload","x":4580,"y":360,"wires":[["3e255bdb.275254","7573253e.5e0ecc"]]},{"id":"954a333.d4497d","type":"http in","z":"bfe20b56.39b538","name":"login","url":"/getlogin","method":"get","upload":false,"swaggerDoc":"","x":4310,"y":100,"wires":[["b86d2b1e.812358","d62456a1.02a678"]]},{"id":"3e255bdb.275254","type":"http response","z":"bfe20b56.39b538","name":"","statusCode":"","headers":{},"x":4750,"y":360,"wires":[]},{"id":"b86d2b1e.812358","type":"function","z":"bfe20b56.39b538","name":"getlogin","func":"\n    username = msg.payload.name;\n    password = msg.payload.pass;\n    //header = msg.req.headers.token;\n    msg.payload = \" SELECT * FROM users WHERE name =\" + this.username + \"AND password =\" + this.password;\n    return msg;\n","outputs":1,"noerr":0,"x":4460,"y":220,"wires":[["da432aba.5cfec8","3dbec6a8.b1594a"]]},{"id":"d62456a1.02a678","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4640,"y":140,"wires":[]},{"id":"3dbec6a8.b1594a","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":4740,"y":240,"wires":[]},{"id":"7573253e.5e0ecc","type":"debug","z":"bfe20b56.39b538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":4920,"y":440,"wires":[]},{"id":"6584fad.b813504","type":"inject","z":"446b58e3.8a2298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["8f7d2f4d.259b1"]]},{"id":"38f7bba1.f1e9b4","type":"debug","z":"446b58e3.8a2298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":120,"wires":[]},{"id":"11d00c5f.edfe04","type":"MSSQL","z":"446b58e3.8a2298","mssqlCN":"4a790eb3.8d0bc","name":"","query":"","outField":"payload","x":360,"y":160,"wires":[["38f7bba1.f1e9b4"]]},{"id":"8f7d2f4d.259b1","type":"function","z":"446b58e3.8a2298","name":"","func":"msg.payload =\"select * from users\";\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":220,"wires":[["11d00c5f.edfe04"]]}]